/OGA.HBD.Lib/.vs
/OGA.HBD.Lib/OGA.HBD.Lib_Tests_NET7/bin
/OGA.HBD.Lib/OGA.HBD.Lib_Tests_NET7/obj
/OGA.HBD.Lib/OGA.HBD.Lib_Tests_NET6/bin
/OGA.HBD.Lib/OGA.HBD.Lib_Tests_NET6/obj
/OGA.HBD.Lib/OGA.HBD.Lib_Tests_NET5/bin
/OGA.HBD.Lib/OGA.HBD.Lib_Tests_NET5/obj
/OGA.HBD.Lib/OGA.HBD.Lib_NET7/bin
/OGA.HBD.Lib/OGA.HBD.Lib_NET7/obj
/OGA.HBD.Lib/OGA.HBD.Lib_NET6/bin
/OGA.HBD.Lib/OGA.HBD.Lib_NET6/obj
/OGA.HBD.Lib/OGA.HBD.Lib_NET5/bin
/OGA.HBD.Lib/OGA.HBD.Lib_NET5/obj
